<div class="container{% if section.settings.fullwidth %}-fluid p-0{%endif%} my-{{ section.settings.margin }} px-5 py-5 gx-0" 
style="background-color: {{ section.settings.bg_color }}">
{% if section.settings.heading != blank %}
<h{{ section.settings.heading_size }} class="mb-3 text-center" style="color: {{ section.settings.heading_color }}">{{ section.settings.heading }}</h{{ section.settings.heading_size }}>
{% endif %}
{% if section.settings.content != blank %}
<p class="text-center" style="font-size: {{ section.settings.text_size }}; color: {{ section.settings.text_color }}">{{ section.settings.content }}</p>
{% endif %}

{% assign tag = section.settings['tag'] %}

{% if section.settings.tag != blank %}

 <div class="row my-5">
                    
                    {% get posts.tag by 999 published_at asc%}
                    {% for post in posts reversed %}
                    {% if forloop.index <= 3 %}
                    <div class="col-12 col-lg-4 px-3 pt-3 pb-5">
                        <div class="post-list-post shadow-hover">
                            {% if section.settings.thumbnails %}
                                {% if post.image_url != blank %}
                                <div onclick="window.location.href='{{ post.url }}'" class="post-list-image" style="background-image: url({{ post.image_url }}); height: {{ section.settings.image_size }}; background-repeat: no-repeat; background-size: cover; cursor: pointer;"></div>
                                {% else %}
                                <div onclick="window.location.href='{{ post.url }}'" class="post-list-image" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg); height: {{ section.settings.image_size }}; background-repeat: no-repeat; background-size: cover; cursor: pointer;"></div>
                                {% endif %}
                            {% endif %}
                            
                                <div class="post-list-content px-1">
                                    <a href="{{ post.url }}" style="color: {{ section.settings.heading_color }}; text-decoration-color: transparent;"><h{{ section.settings.posttitle_size }} class="pt-3">{{ post.title }}</h{{ section.settings.posttitle_size }}></a>
                               
                                    {% if section.settings.date %}
                                        {% if section.settings.date_format == "1" %}
                                        <span class="post-list-date small" style="color: {{ section.settings.text_color }}">{{ post.published_at | date: "%B %d, %Y" }}</span>
                                        {%elsif section.settings.date_format == "2" %}
                                        <span class="post-list-date small" style="color: {{ section.settings.text_color }}">{{ post.published_at | date: "%D" }}</span>
                                        {%else%}
                                        <span class="post-list-date small" style="color: {{ section.settings.text_color }}">{{ post.published_at | date: "%F" }}</span>
                                        {% endif %}
                                    {% endif %}
                                    {% if section.settings.teaser %}
                                    <p class="post-list-excerpt py-3" style="font-size: {{ section.settings.teaser_size }}; color: {{ section.settings.teaser_color }};">
                                        {% if post.excerpt == blank %}
                                        {{ post.content | strip_html | truncate: 200 }}
                                        {% else %}
                                        {{ post.excerpt | strip_html | truncate: 200 }}
                                        {% endif %}
                                    </p>
                                    {% endif %}
                                </div>
                        </div>
                        {% if section.settings.readmore %}
                        <a aria-label="Read more about {{ post.title }}" class="btn btn-{{ section.settings.btn_color }} btn-{{ section.settings.btn_size }}" tabindex="-1" role="button" href="{{ post.url }}">
                              Read More
                          </a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                    {% endget %}

    
  </div>
  {% else %}
  
  <div class="row my-5">
                
                    {% paginate posts by 999 published_at asc %}
                    {% for post in posts reversed %}
                    {% if forloop.index <= 3 %}
                    <div class="col-12 col-lg-4 px-3 pt-3 pb-5">
                        <div class="post-list-post shadow-hover">
                            {% if section.settings.thumbnails %}
                                {% if post.image_url != blank %}
                                <div onclick="window.location.href='{{ post.url }}'" class="post-list-image" style="background-image: url({{ post.image_url }}); height: {{ section.settings.image_size }}; background-repeat: no-repeat; background-size: cover; cursor: pointer;"></div>
                                {% else %}
                                <div onclick="window.location.href='{{ post.url }}'" class="post-list-image" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg); height: {{ section.settings.image_size }}; background-repeat: no-repeat; background-size: cover; cursor: pointer;"></div>
                                {% endif %}
                            {% endif %}
                            
                                <div class="post-list-content px-1">
                                    <a href="{{ post.url }}" style="color: {{ section.settings.heading_color }}; text-decoration-color: transparent;"><h{{ section.settings.posttitle_size }} class="pt-3">{{ post.title }}</h{{ section.settings.posttitle_size }}></a>
                               
                                    {% if section.settings.date %}
                                        {% if section.settings.date_format == "1" %}
                                        <span class="post-list-date small" style="color: {{ section.settings.text_color }}">{{ post.published_at | date: "%B %d, %Y" }}</span>
                                        {%elsif section.settings.date_format == "2" %}
                                        <span class="post-list-date small" style="color: {{ section.settings.text_color }}">{{ post.published_at | date: "%D" }}</span>
                                        {%else%}
                                        <span class="post-list-date small" style="color: {{ section.settings.text_color }}">{{ post.published_at | date: "%F" }}</span>
                                        {% endif %}
                                    {% endif %}
                                    {% if section.settings.teaser %}
                                    <p class="post-list-excerpt py-3" style="font-size: {{ section.settings.teaser_size }}; color: {{ section.settings.teaser_color }};">
                                        {% if post.excerpt == blank %}
                                        {{ post.content | strip_html | truncate: 200 }}
                                        {% else %}
                                        {{ post.excerpt | strip_html | truncate: 200 }}
                                        {% endif %}
                                    </p>
                                    {% endif %}
                                </div>
                        </div>
                        {% if section.settings.readmore %}
                        <a aria-label="Read more about {{ post.title }}" class="btn btn-{{ section.settings.btn_color }} btn-{{ section.settings.btn_size }}" tabindex="-1" role="button" href="{{ post.url }}">
                              Read More
                          </a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                    {% endpaginate %}

    
  </div>
 {% endif %}  
</div>

{% schema %}
{
    "name": "Posts 3-Column Grid",
    "description": "Section that shows the most recent posts in a 3-column grid.",
    "settings": [
    {
        "type": "checkbox",
        "id": "fullwidth",
        "label": "Full Width"
    },
    {
        "type": "select",
        "id": "margin",
        "label": "Section Margin",
        "default": "5",
        "options": [
        {
            "label": "Large",
            "value": "5"
        },
        {
            "label": "Medium",
            "value": "3"
        },
        {
            "label": "Small",
            "value": "1"
        },
        {
            "label": "None",
            "value": "0"
        }]
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Section Background Color",
        "default": "#FFF"
    },
    {
        "type": "color",
        "id": "heading_color",
        "label": "Heading Color",
        "default": "#0065F2"
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#0065F2"
    },
    {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Posts Grid"
    },
    {
        "type": "select",
        "id": "heading_size",
        "label": "Heading Size",
        "default": "1",
        "options": [
        {
            "label": "H1",
            "value": "1"
        },
        {
            "label": "H2",
            "value": "2"
        },
        {
            "label": "H3",
            "value": "3"
        }]
    },
    {
        "type": "richtext",
        "id": "content",
        "label": "Text"
    },
    {
        "type": "select",
        "id": "text_size",
        "label": "Text Size",
        "default": "1rem",
        "options": [
        {
            "label": "Normal",
            "value": "1rem"
        },
        {
            "label": "Medium",
            "value": "1.2rem"
        },
        {
            "label": "Large",
            "value": "1.5rem"
        }]
    },
    {
        "type": "text",
        "id": "tag",
        "label": "Posts Tag (optional)"
    },
    {
        "type": "color",
        "id": "posttitle_color",
        "label": "Post Title Color",
        "default": "#0065F2"
    },
    {
        "type": "select",
        "id": "posttitle_size",
        "label": "Post Title Size",
        "default": "2",
        "options": [
        {
            "label": "H2",
            "value": "2"
        },
        {
            "label": "H3",
            "value": "3"
        },
        {
            "label": "H4",
            "value": "4"
        }]
    },
    {
        "type": "checkbox",
        "id": "thumbnails",
        "label": "Show Post Images",
        "default": "on"
    },
    {
        "type": "select",
        "id": "image_size",
        "label": "Image Size",
        "default": "200px",
        "options": [
        {
            "label": "Small",
            "value": "200px"
        },
        {
            "label": "Medium",
            "value": "250px"
        },
        {
            "label": "Large",
            "value": "300px"
        }]
    },
    {
        "type": "checkbox",
        "id": "date",
        "label": "Show Publish Date"
    },
    {
        "type": "select",
        "id": "date_format",
        "label": "Date Format",
        "default": "3",
        "options": [
        {
            "label": "August 23, 2001",
            "value": "1"
        },
        {
            "label": "08/23/01",
            "value": "2"
        },
        {
            "label": "2001-08-23",
            "value": "3"
        }]
    },
    {
        "type": "checkbox",
        "id": "teaser",
        "label": "Show Teaser",
        "default": "on"
    },
    {
        "type": "select",
        "id": "teaser_size",
        "label": "Teaser Text Size",
        "default": "1rem",
        "options": [
        {
            "label": "Normal",
            "value": "1rem"
        },
        {
            "label": "Medium",
            "value": "1.2rem"
        },
        {
            "label": "Large",
            "value": "1.5rem"
        }]
    },
    {
        "type": "color",
        "id": "teaser_color",
        "label": "Teaser Text Color",
        "default": "#0065F2"
    },
    {
        "type": "checkbox",
        "id": "readmore",
        "label": "Show Read More button",
        "default": "on"
    },
    {
        "type": "select",
        "id": "btn_color",
        "label": "Button Color",
        "default": "primary",
        "options": [
        {
            "label": "Primary",
            "value": "primary"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Success",
            "value": "success"
        },
        {
            "label": "Danger",
            "value": "danger"
        },
        {
            "label": "Warning",
            "value": "warning"
        },
        {
            "label": "Info",
            "value": "info"
        },
        {
            "label": "Light",
            "value": "light"
        },
        {
            "label": "Dark",
            "value": "dark"
        },
        {
            "label": "Link",
            "value": "link"
        }]
    },
    {
        "type": "select",
        "id": "btn_size",
        "label": "Button Size",
        "default": "sm",
        "options": [
        {
            "label": "Small",
            "value": "sm"
        },
        {
            "label": "Large",
            "value": "lg"
        }]
    }
]
}
{% endschema %}